#body {
  height: 100vh;
  width: 100vw;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 5em;
}

#body h1{
    z-index: 10;
    text-shadow: 5px 5px 5px black;
}

img {
    position: fixed;
    bottom: 0;
}
